{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6 border-bottom">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            {% if tag %}
                <h3>Explore #{{tag.name}} posts</h3>
                <p class="mb-3">Most recent post tagged with {{tag.name}}</p>
            {% else %}
            <h3>Explore Post</h3>
            <p class="mb-3">Explore tags to find posts</p>
            {% endif %}

            <form action="" method="POST" class="mb-5">
                {% csrf_token %}
                {{explore_form | crispy}}
                <button class="btn btn-dark mt-3" type='submit'>Explore</button>
            </form>
        </div>
    </div>
    {% for post in posts %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 border-bottom ">
            {% if post.shared_user %}
            <div>
                <a href="{% url 'profile' post.shared_user.profile.pk %}">
                <img class = "rounded-circle post-img" src="{{post.shared_user.profile.picture.url}}" alt="Image">
                </a>
                <p class="post-text">
                    <a class="text-primary link-color" href="{% url 'profile' post.shared_user.profile.pk %}">
                    @{{post.shared_user}}</a> shared a post on  {{post.shared_on}}
                </p>
            </div>

            {% else %}
            
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                 {% if post.author.profile.picture.url %}
                <img class = "rounded-circle post-img" src="{{post.author.profile.picture.url}}" alt="Image">
                 {% endif %}
                </a>
                <p class="post-text">
                    <a class="text-primary link-color" href="{% url 'profile' post.author.profile.pk %}">
                    @{{post.author}}</a>  {{post.created_on}}
                    <span onclick="shareToggle('{{post.pk}}')"><i class="fa-solid fa-share-from-square share-btn"></i></span>
                </p>
            </div>
            {% endif %}
            <form action="{% url 'share-post' post.pk %}" method="POST" class='d-none' id="{{post.pk}}">
                {% csrf_token %}
                {{ share_form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-dark mt-3"> Share Post..</button>
                </div>
            </form>

            {% if post.shared_body %}
            <div class="position-relative border-bottom mb-3 body">
                <p>{{post.shared_body}}</p>
                </div>

             <div class="shared-post">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class = "rounded-circle post-img" src="{{post.author.profile.picture.url}}" alt="Image">
                    </a>
                    <p class="post-text">
                        <a class="text-primary link-color" href="{% url 'profile' post.author.profile.pk %}">
                        @{{post.author}}</a>  {{post.created_on}}
                        {% comment %} <span onclick="shareToggle('{{post.pk}}')"><i class="fa-solid fa-share-from-square share-btn"></i></span> {% endcomment %}
                    </p>
            </div> 
            {% endif %}
                <div class="position-relative">
                    {% if post.image.count > 0 %}
                    <div class="row">
                        {% for img in post.image.all %}
                            <div class="col-md-4 col-xs-12">
                                <img src=" {{ img.image.url }} " class="post-image" />
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                <div class="body">
                    <p>{{post.body}}</p>
                </div>
           <a href="{% url 'post-detail' post.id %}" class="stretched-link"></a>
        </div>

        <div class="d-flex flex-row">
            <form action="{% url 'like' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" type="submit">
                    <i class="fa-solid fa-thumbs-up"> <span>{{post.likes.all.count}}</span>  </i>
                </button>
            </form>

            <form action="{% url 'dislike' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" type="submit">
                    <i class="fa-solid fa-thumbs-down"> <span>{{post.dislikes.all.count}}</span> </i>
                </button>
            </form>
        </div>
   </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}


